<div class="image-container">
  <div class="six columns">
    <p> </p>
  </div>

  <div class="four columns">
    <img class="image" src="/images/<%= locals[:_oneimage] %>.png">
  </div>

  <div class="six columns">
    <p> </p>
  </div>
</div>