<div class="intro-container">
  <div class="two columns">
    <p> </p>
  </div>

  <div id="intro" class="twelve columns inner">
    <h2><%= @text if @text %></h2>
  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>