<div class="image-container">
  <div class="two columns">
    <p> </p>
  </div>

  <% 3.times do |i| %>
    <div class="four columns">
      <img class="pokemon" src="/images/<%= @images[i] %>.png">
    </div>
  <% end %>

    <div class="two columns">
      <p> </p>
    </div>
</div>