<div class="image-container">
  <div class="two columns">
    <p> </p>
  </div>

  <% 3.times do |i| %>
    <div class="four columns">
      <form action="/<%= @action %>" method="POST">
        <input type="hidden" name="0" value="<%= @choices[i] %>"><button type="submit" value="submit"><img class="pokemon" src="/images/<%= @choices[i] %>.png"></button>
      </form>
    </div>
  <% end %>

  <div class="four columns">
    <p> </p>
  </div>
</div>