<div class="image-container">
  <div class="two columns">
    <p> </p>
  </div>

  <div class="four columns">
    <img class="pokemon" src="/images/<%= locals[:one] %>.png">
  </div>

  <div class="four columns">
    <img class="pokemon" src="/images/<%= locals[:two] %>.png">
  </div>

  <div class="four columns">
    <img class="pokemon" src="/images/<%= locals[:three] %>.png">
  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>