<div class="image-container">
  <div class="two columns">
    <p> </p>
  </div>

  <div class="four columns">
    <img class="pokemon" src="/images/<%= @images[0] %>.png">
  </div>

  <div class="four columns">
    <img class="pokemon" src="/images/<%= @images[1] %>.png">
  </div>

  <div class="four columns">
    <img class="pokemon" src="/images/<%= @images[2] %>.png">
  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>