.image-container
  .thirteen.columns
    .row
      - 3.times do |i|
        .four.columns
          %form{action: "/#{@action}", method: "POST"}
            %input{type: "hidden", name: "0", value: "#{@choices[i]}"}
            %button{type: "submit", value: "submit"}
              %img{class: "pokemon", src: "/images/#{@choices[i]}.png"}