<div class="intro-container">
  <div class="two columns">
    <p> </p>
  </div>

  <div id="intro" class="twelve columns inner">
    
  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>

<div class="image-container">
  <div class="two columns">
    <p> </p>
  </div>

  <div class="four columns">
    <img class="pokemon" src="/images/<%= @opponents[0].name %>.png">
  </div>

  <div class="four columns">
    <img class="pokemon" src="/images/<%= @opponents[1].name %>.png">
  </div>

  <div class="four columns">
    <img class="pokemon" src="/images/<%= @opponents[2].name %>.png">
  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>