<div class="intro-container">
  <div class="two columns">
    <p> </p>
  </div>

  <div id="intro" class="twelve columns inner">
    
  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>

<div class="image-container">
  <div class="two columns">
    <p> </p>
  </div>

  <div class="four columns">
    <form action="/next" method="POST">
      <input type="hidden" name="0" value="Bulbasaur"><button type="submit" value="submit"><img class="pokemon" src="/images/Bulbasaur.png"></button>
    </form>
  </div>

  <div class="four columns">
    <form action="/next" method="POST">
      <input type="hidden" name="0" value="Squirtle"><button type="submit" value="submit"><img class="pokemon" src="/images/Squirtle.png"></button>
    </form>
  </div>

  <div class="four columns">
    <form action="/next" method="POST">
      <input type="hidden" name="0" value="Charmander"><button type="submit" value="submit"><img class="pokemon" src="/images/Charmander.png"></button>
    </form>
  </div>

  <div class="four columns">
    <p> </p>
  </div>
</div>