<div class="intro-container">
  <div class="two columns">
    <p> </p>
  </div>

  <div id="intro" class="twelve columns inner">
    <h2>PREPARE FOR BATTLE!</h2>
  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>

<div class="image-container">
  <div class="one column">
    <p> </p>
  </div>

  <div class="five columns">
    <img class="pokemon" src="/images/<%= @opponent.name %>.png">
  </div>

  <div class="four columns">
    <p> </p>
  </div>

  <div class="five columns">
    <img class="pokemon" src="/images/<%= @trainer.my_pokemon[0].name %>.png">
  </div>

  <div class="one column">
    
  </div>
</div>

<%#= simple_partial :_moves %>