<div class="intro-container">
  <div class="two columns">
    <p> </p>
  </div>

  <div id="intro" class="twelve columns inner">

  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>

<div class="image-container">
  <div class="six columns">
    <p> </p>
  </div>

  <div class="four columns">
    <img class="image" src="/images/oak.png">
  </div>

  <div class="six columns">
    <p> </p>
  </div>
</div>