<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles/base.css">
  <link rel="stylesheet" type="text/css" href="/styles/layout.css">
  <link rel="stylesheet" type="text/css" href="/styles/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/styles/custom.css">
  <title>
    GOTTA CATCH 'EM ALL!
  </title>
  <%= simple_partial :_reload unless @reload.nil? %>
  <%= @redirect if @redirect %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>