<script>
  setTimeout("window.location.href='/first_fight';", 7000);
</script>

<div class="intro-container">
  <div class="two columns">
    <p> </p>
  </div>

  <div id="intro" class="twelve columns inner">
    <h2>You chose <%= @opponent.name %>, a ferocious <%= @opponent.type %> Pokemon!</h2>
  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>

<div class="image-container">
  <div class="five columns">
    <p> </p>
  </div>

  <div class="six columns">
    <img class="pokemon" src="/images/<%= @opponent.name %>.png">
  </div>

  <div class="five columns">
    <p> </p>
  </div>
</div>