<div class="intro-container">
  <div class="two columns">
    <p> </p>
  </div>

  <div id="intro" class="twelve columns inner">

  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>

<div class="image-container">
  <div class="three columns">
    <p> </p>
  </div>

  <div id="pokemon1" class="two columns">
    
  </div>

  <div id="pokemon2" class="two columns">
    
  </div>

  <div id="pokemon3" class="two columns">
    
  </div>

  <div id="pokemon4" class="two columns">
    
  </div>

  <div id="pokemon5" class="two columns">
    
  </div>

  <div class="three columns">
    <p> </p>
  </div>
</div>